.header {
  max-width: 100%;
  background-color: #ff4d94;
  text-align: center;
}

.header h2 {
  color: white;
}

.food {
  margin-top: 10px;
  background-color: #ff4d94;
  transform: scale(0.9);
  transition: 0.3s;
}

.food:hover {
  transform: scale(1.0);
  transition: 0.3s;
}

.food img {
  float: left;
}

.food p {
  float: left;
}

